.DS_Store
*.fa
*.pyc
data/tracks/C24_track.bw
static/zip/*
static/text/motifs.txt
static/assets/*
templates/404.html
templates/README.md
templates/about.html
templates/contact.html
templates/header.html
templates/index.html
templates/index_home.html
templates/login.html
ChromBPNet-MPRA/*
motifs/*
