[Unit]
Description=Gunicorn instance for variantapp
After=network.target
[Service]
User=allan
Group=www-data
WorkingDirectory=/home/allan/variantapp
ExecStart=/home/allan/miniconda3/envs/variantapp/bin/gunicorn -b localhost:8000 -w 10 -t 600 -- mainGIDB:app
Restart=always
[Install]
WantedBy=multi-user.target
