[Unit]
Description=Gunicorn instance for variantapp
After=network.target
[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/variantapp
ExecStart=/home/ubuntu/.local/bin/gunicorn -b localhost:8000 -w 10 -t 600 main:app
Restart=always
[Install]
WantedBy=multi-user.target
