{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <div class="container">
    <h1>
      <center>Variant Effect Prediction Platform</center>
    </h1>
    <!-- <h3>
      <center>Corces Lab</center>
    </h3> -->


    {% for message in form.cell_type.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.chromosome.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    
    {% for message in form.position.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.allele1.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.allele2.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}


    <form method=post>

        {{ form.cell_type.label }}
        {{ form.cell_type(class="selectCT") }}
  
        {{ form.chromosome.label }}
        {{ form.chromosome }}
  
        {{ form.position.label }}
        {{ form.position }}
  
        {{ form.allele1.label }}
        {{ form.allele1 }}
  
        {{ form.allele2.label }}
        {{ form.allele2 }}

      <br>
      <!-- {{ form.submit }} -->
      <input class="downloadbutton" type="submit" value="  Submit" onclick="$('#loading').show();">
    </form>
    <div id="loading" style="display:none;"><img src="static/gif/loading.gif" alt=""/></div>

  </div>

{% endblock %}