{% extends 'base.html' %}
{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <div class="container">
    <h1>
      <center>Variant App</center>
    </h1>
    <!-- <h3>
      <center>Corces Lab</center>
    </h3> -->


    {% for message in form.cell_type.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% for message in form.rsID.errors %}
    <div class="flash">{{ message }}</div>
    {% endfor %}


    <form method=post>

      {{ form.cell_type.label }}
      {{ form.cell_type(class="selectCT") }}

      {{ form.rsID.label }}
      {{ form.rsID }}

      <br>
      <!-- {{ form.submit }} -->
      <input class="downloadbutton" type="submit" value="  Submit" onclick="$('#loading').show();">
    </form>
    <div id="loading" style="display:none;"><img src="static/gif/loading.gif" alt=""/></div>

  </div>

{% endblock %}