{% extends 'baseGIDB.html' %}
{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <div class="container">
    <h1>
      <center>Variant Effect Prediction Platform</center>
    </h1>
    <!-- <h3>
      <center>Corces Lab</center>
    </h3> -->
    
    <form method=post>
        {{ form.cell_type.label }}
        {{ form.cell_type(class="selectCT") }}

        {{ form.chromosome.label }}
        {{ form.chromosome }}

        {{ form.position.label }}
        {{ form.position }}
        
        {{ form.num_used.label }}
        {{ form.num_used }}
        <br>
        <br>

        <div style="margin-left: auto; margin-right: auto;">
            <table style="margin-left: auto; margin-right: auto;">
                <tr>
                    <td>Position</td>
                    <td>Alt Allele</td>
                    <td>Ref Allele</td>
                </tr>
                {% for variant in form.variants %}
                <tr>
                    <td>{{ variant.pos(class="grid") }}</td>
                    <td>{{ variant.alleleA(class="grid") }}</td>
                    <td>{{ variant.alleleB(class="grid") }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
      <br>
      <!-- {{ form.submit }} -->
      <input class="downloadbutton" type="submit" value="  Submit" onclick="$('#loading').show();">
    </form>
    <div id="loading" style="display:none;"><img src="static/gif/loading.gif" alt=""/></div>

  </div>

{% endblock %}