
    <html>
    <head><title>HTML Motifs Dataframe with CSS</title></head>
    <link rel="stylesheet" type="text/css" href="/static/css/df_style.css"/>
    <body>
        <table border="1" class="dataframe mystyle">
  <thead>
    <tr style="text-align: center;">
      <th>chromosome</th>
      <th>start</th>
      <th>end</th>
      <th>motif_cluster</th>
      <th>match_score</th>
      <th>strand</th>
      <th>best_model</th>
      <th>num_models</th>
      <th>image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>chr11</td>
      <td>60251672</td>
      <td>60251686</td>
      <td>CTCF</td>
      <td>13.6203</td>
      <td>-</td>
      <td>CTCF_MA0139.1</td>
      <td>7</td>
      <td><img src="static/images/motifs/CTCF_MA0139.1.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr11</td>
      <td>60251675</td>
      <td>60251689</td>
      <td>Ebox/CAGATGG</td>
      <td>11.5037</td>
      <td>-</td>
      <td>NGN2_MOUSE.H11MO.0.C</td>
      <td>10</td>
      <td><img src="static/images/motifs/NGN2_MOUSE.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr11</td>
      <td>60251675</td>
      <td>60251684</td>
      <td>Ebox/CAGCTG</td>
      <td>9.5236</td>
      <td>+</td>
      <td>BHA15_HUMAN.H11MO.0.B</td>
      <td>4</td>
      <td><img src="static/images/motifs/BHA15_HUMAN.H11MO.0.B.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr11</td>
      <td>60251674</td>
      <td>60251687</td>
      <td>ZIC</td>
      <td>9.1511</td>
      <td>+</td>
      <td>ZIC2_MOUSE.H11MO.0.C</td>
      <td>6</td>
      <td><img src="static/images/motifs/ZIC2_MOUSE.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr11</td>
      <td>60251675</td>
      <td>60251682</td>
      <td>Ebox/CACCTG</td>
      <td>8.5437</td>
      <td>+</td>
      <td>HTF4_MOUSE.H11MO.0.A</td>
      <td>2</td>
      <td><img src="static/images/motifs/HTF4_MOUSE.H11MO.0.A.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr11</td>
      <td>60251674</td>
      <td>60251683</td>
      <td>Ebox/CAGCTG</td>
      <td>8.0365</td>
      <td>-</td>
      <td>ZBT18_HUMAN.H11MO.0.C</td>
      <td>1</td>
      <td><img src="static/images/motifs/ZBT18_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr11</td>
      <td>60251671</td>
      <td>60251682</td>
      <td>YY1</td>
      <td>7.7681</td>
      <td>-</td>
      <td>YY2_C2H2_3</td>
      <td>1</td>
      <td><img src="static/images/motifs/YY2_C2H2_3.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr11</td>
      <td>60251670</td>
      <td>60251684</td>
      <td>ZNF418</td>
      <td>7.7337</td>
      <td>+</td>
      <td>ZN418_HUMAN.H11MO.0.C</td>
      <td>1</td>
      <td><img src="static/images/motifs/ZN418_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr11</td>
      <td>60251663</td>
      <td>60251682</td>
      <td>ZNF563</td>
      <td>7.4434</td>
      <td>+</td>
      <td>ZN563_HUMAN.H11MO.0.C</td>
      <td>1</td>
      <td><img src="static/images/motifs/ZN563_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr11</td>
      <td>60251672</td>
      <td>60251682</td>
      <td>CREB/ATF/2</td>
      <td>6.2911</td>
      <td>+</td>
      <td>Mafb.mouse_bZIP_3</td>
      <td>1</td>
      <td><img src="static/images/motifs/Mafb.mouse_bZIP_3.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr11</td>
      <td>60251674</td>
      <td>60251688</td>
      <td>HIC/1</td>
      <td>5.3269</td>
      <td>-</td>
      <td>Hic1.mouse_C2H2_1</td>
      <td>1</td>
      <td><img src="static/images/motifs/Hic1.mouse_C2H2_1.png" style="max-height:100px;"/></td>
    </tr>
  </tbody>
</table>
    </body>
    </html>
    