
    <html>
    <head><title>HTML Motifs Dataframe with CSS</title></head>
    <link rel="stylesheet" type="text/css" href="/static/css/df_style.css"/>
    <body>
        <table border="1" class="dataframe mystyle">
  <thead>
    <tr style="text-align: center;">
      <th>chromosome</th>
      <th>start</th>
      <th>end</th>
      <th>motif_cluster</th>
      <th>match_score</th>
      <th>strand</th>
      <th>best_model</th>
      <th>num_models</th>
      <th>image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>chr3</td>
      <td>52498423</td>
      <td>52498440</td>
      <td>KLF/SP/2</td>
      <td>15.0729</td>
      <td>+</td>
      <td>SP2_HUMAN.H11MO.0.A</td>
      <td>22</td>
      <td><img src="static/images/motifs/SP2_HUMAN.H11MO.0.A.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498429</td>
      <td>52498446</td>
      <td>KLF/SP/2</td>
      <td>14.1835</td>
      <td>+</td>
      <td>SP2_HUMAN.H11MO.0.A</td>
      <td>29</td>
      <td><img src="static/images/motifs/SP2_HUMAN.H11MO.0.A.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498430</td>
      <td>52498447</td>
      <td>KLF/SP/2</td>
      <td>10.3275</td>
      <td>+</td>
      <td>SP2_HUMAN.H11MO.0.A</td>
      <td>11</td>
      <td><img src="static/images/motifs/SP2_HUMAN.H11MO.0.A.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498428</td>
      <td>52498448</td>
      <td>GC-tract</td>
      <td>10.2568</td>
      <td>+</td>
      <td>KLF15_HUMAN.H11MO.0.A</td>
      <td>7</td>
      <td><img src="static/images/motifs/KLF15_HUMAN.H11MO.0.A.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498430</td>
      <td>52498438</td>
      <td>E2F/2</td>
      <td>9.9658</td>
      <td>+</td>
      <td>E2F7_HUMAN.H11MO.0.B</td>
      <td>4</td>
      <td><img src="static/images/motifs/E2F7_HUMAN.H11MO.0.B.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498430</td>
      <td>52498441</td>
      <td>AP1/2</td>
      <td>8.8975</td>
      <td>+</td>
      <td>BACH1_HUMAN.H11MO.0.A</td>
      <td>1</td>
      <td><img src="static/images/motifs/BACH1_HUMAN.H11MO.0.A.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498422</td>
      <td>52498442</td>
      <td>GC-tract</td>
      <td>8.8276</td>
      <td>+</td>
      <td>ZN341_HUMAN.H11MO.0.C</td>
      <td>4</td>
      <td><img src="static/images/motifs/ZN341_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498433</td>
      <td>52498450</td>
      <td>NR/18</td>
      <td>8.4021</td>
      <td>-</td>
      <td>NR1H4_HUMAN.H11MO.0.B</td>
      <td>2</td>
      <td><img src="static/images/motifs/NR1H4_HUMAN.H11MO.0.B.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498429</td>
      <td>52498440</td>
      <td>ETS/2</td>
      <td>8.1962</td>
      <td>+</td>
      <td>ELK4_MOUSE.H11MO.0.B</td>
      <td>1</td>
      <td><img src="static/images/motifs/ELK4_MOUSE.H11MO.0.B.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498433</td>
      <td>52498444</td>
      <td>ZFX</td>
      <td>8.0138</td>
      <td>+</td>
      <td>ZFX_MOUSE.H11MO.0.B</td>
      <td>1</td>
      <td><img src="static/images/motifs/ZFX_MOUSE.H11MO.0.B.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498421</td>
      <td>52498435</td>
      <td>CTCF</td>
      <td>7.9312</td>
      <td>+</td>
      <td>CTCFL_MA1102.1</td>
      <td>1</td>
      <td><img src="static/images/motifs/CTCFL_MA1102.1.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498431</td>
      <td>52498442</td>
      <td>OSR2</td>
      <td>7.8505</td>
      <td>-</td>
      <td>OSR2_HUMAN.H11MO.0.C</td>
      <td>1</td>
      <td><img src="static/images/motifs/OSR2_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498426</td>
      <td>52498435</td>
      <td>SREBF1</td>
      <td>7.6464</td>
      <td>+</td>
      <td>SRBP2_HUMAN.H11MO.0.B</td>
      <td>2</td>
      <td><img src="static/images/motifs/SRBP2_HUMAN.H11MO.0.B.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498426</td>
      <td>52498443</td>
      <td>KLF/SP/2</td>
      <td>7.5715</td>
      <td>+</td>
      <td>WT1_HUMAN.H11MO.0.C</td>
      <td>2</td>
      <td><img src="static/images/motifs/WT1_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498425</td>
      <td>52498434</td>
      <td>KLF/SP/3</td>
      <td>7.5462</td>
      <td>+</td>
      <td>KLF8_HUMAN.H11MO.0.C</td>
      <td>2</td>
      <td><img src="static/images/motifs/KLF8_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498427</td>
      <td>52498440</td>
      <td>NFI/3</td>
      <td>7.4134</td>
      <td>+</td>
      <td>NFIA_HUMAN.H11MO.0.C</td>
      <td>3</td>
      <td><img src="static/images/motifs/NFIA_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498422</td>
      <td>52498434</td>
      <td>INSM1</td>
      <td>7.2609</td>
      <td>+</td>
      <td>INSM1_HUMAN.H11MO.0.C</td>
      <td>3</td>
      <td><img src="static/images/motifs/INSM1_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498423</td>
      <td>52498443</td>
      <td>GC-tract</td>
      <td>6.9636</td>
      <td>+</td>
      <td>ZN341_HUMAN.H11MO.0.C</td>
      <td>1</td>
      <td><img src="static/images/motifs/ZN341_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498430</td>
      <td>52498440</td>
      <td>HINFP1/1</td>
      <td>6.8832</td>
      <td>-</td>
      <td>HINFP1_C2H2_1</td>
      <td>2</td>
      <td><img src="static/images/motifs/HINFP1_C2H2_1.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498429</td>
      <td>52498445</td>
      <td>NR/16</td>
      <td>6.7222</td>
      <td>+</td>
      <td>THB_HUMAN.H11MO.0.C</td>
      <td>1</td>
      <td><img src="static/images/motifs/THB_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498421</td>
      <td>52498438</td>
      <td>ZNF332</td>
      <td>6.6855</td>
      <td>-</td>
      <td>ZN322_MOUSE.H11MO.0.B</td>
      <td>1</td>
      <td><img src="static/images/motifs/ZN322_MOUSE.H11MO.0.B.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498433</td>
      <td>52498444</td>
      <td>KLF/SP/1</td>
      <td>6.5208</td>
      <td>-</td>
      <td>KLF9_HUMAN.H11MO.0.C</td>
      <td>1</td>
      <td><img src="static/images/motifs/KLF9_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498430</td>
      <td>52498441</td>
      <td>EGR</td>
      <td>6.3070</td>
      <td>-</td>
      <td>EGR2_C2H2_2</td>
      <td>4</td>
      <td><img src="static/images/motifs/EGR2_C2H2_2.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498430</td>
      <td>52498446</td>
      <td>HEN1</td>
      <td>6.1702</td>
      <td>+</td>
      <td>HEN1_HUMAN.H11MO.0.C</td>
      <td>2</td>
      <td><img src="static/images/motifs/HEN1_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498430</td>
      <td>52498449</td>
      <td>ZNF320</td>
      <td>6.1525</td>
      <td>+</td>
      <td>ZN320_HUMAN.H11MO.0.C</td>
      <td>1</td>
      <td><img src="static/images/motifs/ZN320_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498427</td>
      <td>52498444</td>
      <td>ZNF708</td>
      <td>6.0118</td>
      <td>+</td>
      <td>ZN708_HUMAN.H11MO.0.C</td>
      <td>1</td>
      <td><img src="static/images/motifs/ZN708_HUMAN.H11MO.0.C.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr3</td>
      <td>52498424</td>
      <td>52498441</td>
      <td>KLF/SP/2</td>
      <td>5.1090</td>
      <td>+</td>
      <td>SP1_MOUSE.H11MO.0.A</td>
      <td>1</td>
      <td><img src="static/images/motifs/SP1_MOUSE.H11MO.0.A.png" style="max-height:100px;"/></td>
    </tr>
  </tbody>
</table>
    </body>
    </html>
    