
    <html>
    <head><title>HTML Motifs Dataframe with CSS</title></head>
    <link rel="stylesheet" type="text/css" href="/static/css/df_style.css"/>
    <body>
        <table border="1" class="dataframe mystyle">
  <thead>
    <tr style="text-align: center;">
      <th>chromosome</th>
      <th>start</th>
      <th>end</th>
      <th>motif_cluster</th>
      <th>match_score</th>
      <th>strand</th>
      <th>best_model</th>
      <th>num_models</th>
      <th>image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>chr8</td>
      <td>27369271</td>
      <td>27369285</td>
      <td>CTCF</td>
      <td>6.1739</td>
      <td>+</td>
      <td>CTCF_MA0139.1</td>
      <td>2</td>
      <td><img src="static/images/motifs/CTCF_MA0139.1.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr8</td>
      <td>27369270</td>
      <td>27369288</td>
      <td>P53-like/3</td>
      <td>5.8452</td>
      <td>-</td>
      <td>Tp53.mouse_p53l_1</td>
      <td>1</td>
      <td><img src="static/images/motifs/Tp53.mouse_p53l_1.png" style="max-height:100px;"/></td>
    </tr>
    <tr>
      <td>chr8</td>
      <td>27369269</td>
      <td>27369283</td>
      <td>HIC/1</td>
      <td>4.1784</td>
      <td>-</td>
      <td>Hic1.mouse_C2H2_1</td>
      <td>1</td>
      <td><img src="static/images/motifs/Hic1.mouse_C2H2_1.png" style="max-height:100px;"/></td>
    </tr>
  </tbody>
</table>
    </body>
    </html>
    