<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="li2">
            <a class="b" href="https://www.corceslab.com/">
                <img src="../static/images/BrainImg.png" height=25>
            </a>
          </li>
          <li class="li2">
            <a class="d" href="https://www.corceslab.com/"> The Corces Lab
            </a>
          </li>
          <li class="li2">
            <a class="c" href="https://gladstone.org/">
                <img src="../static/images/GladstoneImg.png" height=14>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.corceslab.com/pages/Contact/">Contact</a>
          </li><li class="nav-item">
            <a class="nav-link" href="https://www.corceslab.com/pages/Publications/">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.corceslab.com/pages/Resources/">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.corceslab.com/pages/Research/">Research</a>
          </li>
          
          
          
          
        </ul>
      </div>
    </div>
  </nav>