<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="li2">
            <a class="b" href="https://www.corceslab.com/">
                <img src="../static/images/BrainImg.png" height=22>
            </a>
          </li>
          <li class="li2">
            <a class="d" href="https://www.corceslab.com/"> The Corces Lab
            </a>
          </li>
          <li class="li2">
            <a class="c" href="https://gladstone.org/">
                <img src="../static/images/GladstoneImg.png" height=12>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mailto:alex.lan@gladstone.ucsf.edu">Contact</a>
          </li><li class="nav-item">
            <a class="nav-link" href="https://docs.google.com/document/d/1Vkrs8q363-eclJQX4MOdjqGNn7mVLyxGqRvmWJoMOFw/edit?usp=sharing">User Guide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://github.com/Bluedragon137/variantapp">GitHub Repository</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('variantInfo') }}">rsID Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('compoundVariant') }}">Compound Variants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('valueEntry') }}">Value Input</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">rsID Input</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="variantscoring">Variant Scorer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="variantscoring">Variant Effect Platform</a> -->
          </li>
          
          
          
          
        </ul>
      </div>
    </div>
  </nav>
  <body style="background-color:white"></body>