<!DOCTYPE html>
<html>

<header>
    <title>Model Output</title>
    <link rel="stylesheet" href="/static/css/style.css">
</header>

<body>
    <img id="picture" src="data:image/png;base64,{{ altpred }}" class="center">
    <img id="picture" src="data:image/png;base64,{{ refpred }}" class="center">
    <img id="picture" src="data:image/png;base64,{{ lfcpred }}" class="center">
    <img id="picture" src="data:image/png;base64,{{ altshap }}" class="center">
    <img id="picture" src="data:image/png;base64,{{ refshap }}" class="center">
    <img id="picture" src="data:image/png;base64,{{ delshap }}" class="center">
    {% block content %}
    {{ motifs }}
    {% endblock %}

</body>

</html>