<!DOCTYPE html>
<html>

<header>
    <title>Model Output</title>
    <link rel="stylesheet" href="/static/css/style.css">
</header>

<body>
    <img src="../static/images/app/effectpred.png" alt="Effect Prediction" class="center">
    <img src="../static/images/app/noneffectpred.png" alt="Noneffect Prediction" class="center">
    <img src="../static/images/app/lfcpred.png" alt="Log Full Change Prediction" class="center">
    <img src="../static/images/app/effect.png" alt="Effect Importance" class="center">
    <img src="../static/images/app/noneffect.png" alt="Noneffect Importance" class="center">
    <img src="../static/images/app/delta.png" alt="Delta Importance" class="center">
    
    {% include 'motifs.html' %}
</body>

</html>