<!DOCTYPE html>
<html>

<header>
    <title>Model Output</title>
    <link rel="stylesheet" href="/static/css/style.css">
</header>

<body>
    <div class="container">
        <img src="../static/images/app/effectpred.png" alt="Effect Prediction">
        <img src="../static/images/app/noneffectpred.png" alt="Noneffect Prediction">
        <img src="../static/images/app/effect.png" alt="Effect Importance">
        <img src="../static/images/app/noneffect.png" alt="Noneffect Importance">
        <img src="../static/images/app/delta.png" alt="Delta Graph">
    </div>
</body>

</html>